<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Casandra</title>
  <script src="https://kit.fontawesome.com/c9687a7a14.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
  <script defer src="../dist/renderer/lepik.js"></script>
  <script defer src="../dist/renderer/main.js"></script>
  <script defer src="../dist/renderer/dom.js"></script>
</head>

<body>
  <div id="myDIV" class="header">
    <h1 style="margin:5px">Casandra</h1>
    <h4 style="margin:5px" class="helperText">Casandra</h4>
    <input type="text" id="keyInp" placeholder="Key...">
    <input type="text" id="valInp" placeholder="Value...">
  </div>
  <ul id="list">
  </ul>

</body>

</html>