<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cassandra</title>
  <script src="https://kit.fontawesome.com/c9687a7a14.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
  <script defer src="../dist/renderer/modules/lepik.js"></script>
  <script defer src="../dist/renderer/modules/fs.js"></script>
  <script defer src="../dist/renderer/main.js"></script>
  <script defer src="../dist/renderer/dom.js"></script>
  <base target="_blank">
</head>

<body>
  <div class="settingsIcon">
    <i class="fa fa-bars" aria-hidden="true" id="settings" onclick="openSettings()"></i>
  </div>
  <div class="draggable" id="mydivheader">
    <div class="draggablePart"></div>
    <div id="logo" title="logo"></div>
    <p id="fmText" title="File Description">Key Simulator</p>
    <p id="name" title="Title">Cassandra</p>
    <div class="doingIcon" title="Minimize Button" id="minimize" onclick="elec.minimize()"></div>
    <div class="doingIcon" title="Maximize Button" id="fullScreen" onclick="elec.maximize()"></div>
    <div class="doingIcon" title="Close Button" id="close" onclick="elec.close()"></div>
  </div>
  <div id="myDiv" class="header">
    <h1>Cassandra</h1>
    <h5 class="helperText" style="opacity: 0;"></h5>
    <div class="form__group field first" title="Add a key, which you want to be replaced with value.">
      <input type="input" class="form__field " placeholder="Key..." name="key" id='key' />
      <label for="key" class="form__label">Key</label>
    </div>
    <div class="form__group field" title="Add a value, which you want to replace the key.">
      <textarea class="form__field" placeholder="Value" name="value" id='value'></textarea>
      <label for="value" class="form__label">Value</label>
    </div>
  </div>
  <ul id="list" title="Saved Shortcuts">
  </ul>
  <div id="settingsDiv" style="display: none;">
    <div class="logo">
    </div>
    <div class="splitter">
      <p>Preferences</p>
    </div>
    <div class="row" title="Do you want dark theme?">
      <p>Dark theme:
      <div class='toggle themeSwitcher' id='switch' onclick="toggleClass(this)">
        <div class='toggle-text-off'>OFF</div>
        <div class='glow-comp'></div>
        <div class='toggle-button'></div>
        <div class='toggle-text-on'>ON</div>
      </div>
      </p>
    </div>
    <div class="splitter">
      <p>Content</p>
    </div>
    <p title="Submit hotkey is the hotkey responsible for submiting the replace request.">Submit Hotkey: <button
        class="submitHotkeySpan" onclick="changeSHotkey(this)" id="submitHotkeyEl">Space</button>
    </p>
    <div class="row"
      title="If on, the app will catch only exactly typed keys. If key = 'hello','dhello' would not work.">
      <p>Safe mode:
      <div class='toggle safeModeSwitcher' id='switch' onclick="toggleClass(this)">
        <div class='toggle-text-off'>OFF</div>
        <div class='glow-comp'></div>
        <div class='toggle-button'></div>
        <div class='toggle-text-on'>ON</div>
      </div>
      </p>
    </div>
    <span id="notNeeded">
      <div class="splitter">
        <p>Links</p>
      </div>
      <p title="Link to guides">Guides: <a href="https://cassandra.netlify.app/docs" class="webSpan">Docs</a></p>
      <p title="Link to Cassandra Website">Website: <a href="https://cassandra.netlify.app/"
          class="webSpan">Cassandra</a></p>
    </span>

  </div>
</body>

</html>