@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  font-family: 'Genos', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background-color: var(--bg);
  height: fit-content;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 10px;
}

.draggable {
  transition: linear all 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  z-index: 5;
  padding: 5px;
  background-color: var(--bgDark);
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  font-size: 1rem;
  color: var(--white);

  .draggablePart {
    position: fixed;
    -webkit-app-region: drag;
    width: 100%;
    height: 30px;
    right: 63px;
    top: 0;
  }

  #logo {
    width: 25px;
    height: 20px;
    background-image: url('../assets/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 2px;
  }

  p {
    display: inline;
    position: absolute;
    top: 0px;
  }

  .doingIcon {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.4s ease;
    cursor: pointer;
    top: 6px;
  }

  #fmText {
    left: 40px;
  }

  #name {
    left: 50%;
    transform: translateX(-50%);
  }

  #minimize {
    right: 50px;
    background-image: url('../assets/minimize.png');

    &:hover {
      background-image: url('../assets/minimizehover.png');
    }
  }

  #fullScreen {
    right: 30px;
    background-image: url('../assets/maximize.png');

    &:hover {
      background-image: url('../assets/maximizehover.png');
    }
  }

  #close {
    right: 10px;
    background-image: url('../assets/close.png');

    &:hover {
      transform: rotate(180deg);
      background-image: url('../assets/closehover.png');
    }
  }
}


.header {
  padding: 30px 40px;
  color: #cacaca;
  text-align: center;
  user-select: none;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: var(--bg);
  top: 0;
  height: 19rem;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  #bgIcon {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 3rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../assets/bgicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    transition: .2s;


  }

  .first {
    margin-top: 0;

  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--grey);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown~.form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--grey);
  }

  .form__field:focus {
    ~.form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: var(--primary);
      font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;
  }

  .form__field {

    &:required,
    &:invalid {
      box-shadow: none;
    }
  }



  h1 {
    line-height: 1;
    color: var(--primary);
  }

  h5 {
    transition: .2s;
  }

}

#list {
  transition: .2s;
  margin-top: 19rem;

  .hidden {
    line-height: 1.2;
    overflow-y: scroll;
    max-height: 12rem;
    font-style: italic;
    font-size: 1.6rem;
  }

  li {
    padding: 2px 20px 2px 40px;
    list-style-type: none;
    font-size: 1.7rem;
    transition: 0.2s;
    position: relative;
    color: var(--white);

    i {
      float: right;
      cursor: pointer;
      transition: .2s;
      font-size: 1.1rem;
      margin: 0.4rem 3px 0;
    }

    .wierdIcon {
      color: var(--primary);
      font-size: 1.8rem;
      margin-top: .5rem;
    }

    .icon {
      border: 1px solid var(--white);
      border-radius: 50%;
      padding: 5px;
      color: var(--white);
    }

  }


}

#settingsDiv {
  height: 90%;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bgDark);
  padding: 20px;
  border-radius: 10px;
  z-index: 3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  p {
    padding: .3rem .7rem;
    font-size: 1.7rem;
    color: var(--white);

    a {
      color: var(--primary);
      text-decoration: none;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  .splitter {
    background-color: var(--bg);
    border-radius: .5rem;
    color: wheat;
    margin: .3rem 0;
  }

  .row {
    display: flex;
  }

  button {
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    background-color: var(--white);
  }
}

#switch {
  width: 75px;
  top: 0.4rem;
  left: -0.4rem;
  height: 40px;
}

.toggle {
  position: relative;
  border: 2px solid #444249;
  border-radius: 20px;
  -webkit-transition: border-color .6s ease-out;
  transition: border-color .6s ease-out;
  box-sizing: border-box;
}

.toggle.toggle-on {
  border-color: rgba(137, 194, 217, .4);
  -webkit-transition: all .5s .15s ease-out;
  transition: all .5s .15s ease-out;
}

.toggle-button {
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 39px;
  background-color: #444249;
  border-radius: 19px;
  cursor: pointer;
  -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button {
  top: 3px;
  width: 65px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: var(--primary);
  box-shadow: 0 0 16px var(--secondary);
  -webkit-transition: all .2s .1s, right .1s;
  transition: all .2s .1s, right .1s;
}


.toggle-text-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  user-select: none;


  color: rgba(0, 0, 0, 0);
}

.toggle-on .toggle-text-on {
  color: var(--white);
  -webkit-transition: color .3s .15s;
  transition: color .3s .15s;
}

.toggle-text-off {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;

  color: #444249;
}

.toggle-on .toggle-text-off {
  color: rgba(0, 0, 0, 0);
}

/* used for streak effect */
.glow-comp {
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, .1);
  box-shadow: 0 0 12px rgba(75, 122, 141, .2);
  -webkit-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.settingsIcon {

  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 4;

  i {
    font-size: 1.7rem;
    color: var(--white);
    margin-right: 1rem;
    cursor: pointer;
    transition: .2s;
  }
}


@media only screen and (max-width: 600px) {
  #settingsDiv {
    width: 90%;



  }

  .settingsIcon {
    right: 0.5rem;
    top: 1rem;
  }

  .header h1 {
    margin-top: 1rem;
  }

}

@media only screen and (max-width: 400px) {
  #myDiv {
    padding: 25px 10px 0;
  }


}

@media only screen and (max-height: 515px) {
  #notNeeded {
    display: none;
  }

  #settingsDiv {
    height: fit-content
  }
}

@media only screen and (max-height: 380px) {
  .header {
    display: none;
  }

  #list {
    margin-top: 5rem;

    .icon {
      display: none;
    }
  }


}